*{
    margin: 0;
    padding: 0;
}
.app{
    display: flex;
}
textarea, .preview{
    width: 50vw;
    height: 100vh;
}
textarea{
    background-color: rgb(238, 238, 238);
    border: none;
    resize: none;
    /* margin-left: 10px; */
}
textarea:focus{
    outline: none;
}
.preview{
    font-size: 1.3em;
    font-weight: 500;
    background-color: lightgrey;
    
}